.center-align {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  padding-top: .15em;
  padding-bottom: .15em;
}

p {
  margin: .15em;
}

.promos-option {
  width: fit-content;
  margin: auto;
  text-decoration: underline;
  padding-left: .25em;
  padding-right: .25em;
  font-size: .75em;
}

.promos-option:hover {
  color: orange;
}

.promotion {
  width: 100%;
  background-color: black;
  color: white;
  padding: .5em;
}

@media only screen and (max-width: 600px) {
  .center-align {
    flex-direction: column;
    text-align: center;
  }
}